{{#> layout}}
<body class="admin">
    <div class="contenedor-admin">
        <img class="img-admin"
            src="https://media.tenor.com/38l5OsYy2TsAAAAC/elmo-flaming.gif"
            alt="" srcset="">
        <h1>Médico</h1>
        <div>
            <form action="/buscarpaciente" method="post">
                <input type="text" name="rut" placeholder="Rut" required>
                <ul>
                    <button class="btn btn-primary" type="submit">Buscar
                        Paciente</button>
                </ul>
            </form>
            {{message}}
            <form action="/anadirmedicamento" method="post">
                <input type="text" name="name" placeholder="Nombre Medicamento"
                    required>
                <input type="text" name="content" placeholder="Contenido"
                    required>
                <ul>
                    <button class="btn btn-primary" type="submit">Añadir
                        Medicamento</button>
                </ul>
            </form>
        </div>

        {{#if datareceta}}
        <div class="datos">
            <h5>Rut Paciente:{{datareceta.rut_pacientes}}</h5>
            <h5>Nombre: {{datareceta.nombre}}</h5>
            <h5>Apellido: {{datareceta.apellido}}</h5>
            {{#if btnanadir}}
            <form action="/buscarreceta/"
                method="post">
                <input type="hidden" name="rut"
                    value="{{datareceta.rut_pacientes}}">
                <a class="buscar"><button class="btn btn-primary" type="submit">Buscar
                        Receta</button></a>
            </form>
            <form action="/anadirreceta/"
                method="post">
                <input type="text" name="rutpaciente" placeholder="Rut Paciente"
                    required>
                <input type="text" name="rutmedico" placeholder="Rut Medico"
                    required>
                <input type="text" name="nombremedico" placeholder="Nombre Médico" required>
                <input type="text" name="especialidadmedico"
                    placeholder="Especialidad Medico" required>
                <select name="medicamento" id="" required>
                {{#each medicamentos}}
                    <option value="{{id_nombre_medicamento}}">"{{id_nombre_medicamento}}","{{id_contenido}}"</option>
                {{/each}}
                </select>
                <input type="text" name="prescripcion" placeholder="prescripcion" required>
                <a class="añadir"><button class="btn btn-primary" type="submit">Añadir Receta</button></a>
            </form>
            {{/if}}
            {{else}}
            <h4>No se encontraron datos</h4>
        </div>
        {{/if}}
        {{#if receta}}
        {{receta}}
        {{#each resultadoreceta1}}
        <div class="receta">
            <form action="/modificar" method="post">
                <input type="hidden" name="id"
                    value="{{recetas_id}}">
                <ul>Rut Paciente: <input type="text" name="rut_paciente_recetas"
                        placeholder="Rut" value="{{this.rut_paciente_recetas}}"
                        readonly></ul>
                <ul>Rut Médico: {{this.rut_medico}}</ul>
                <ul>Nombre Médico: {{this.nombre_medico}}</ul>
                <ul>Especialidad: {{this.especialidad_medico}}</ul>
                <ul>Fecha Emisión: {{this.fechaemision}}</ul>
                <ul>Estado: {{this.vigente}}</ul>
            
            <input type="text" name="medicamento" value="{{this.medicamento}}" required>
            <input type="text" name="prescripcion" value="{{this.prescripcion}}" required>
                <a class="modificar"><button class="btn btn-primary"
                        type="submit">Modificar</button></a>
            </form>
            <form action="/eliminar" method="post">
                <input type="hidden" name="id"
                    value="{{recetas_id}}">
                <a class="eliminar"><button class="btn btn-danger"
                        type="submit">Eliminar</button></a>
            </form>
        </div>
        {{/each}}
        {{else}}
        {{/if}}
    </div>
</body>
{{/layout}}